{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Bonjour et Bienvenue</h1>
    <p class="text-center">Ceci est la page où le formulaire d'inscription sera affiché.</p>
    {# Ici, le formulaire d'inscription sera inséré plus tard #}
</div>
{% endblock %}