{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Bonjour et Bienvenu</h1>
    <h1><p class="text-center">Marmitton : Votre Compagnon Culinaire Intelligent et Organisé</p></h1>
    <p/>Découvrez Marmitton, une application web complète et intuitive conçue pour transformer la manière dont vous gérez votre univers culinaire. Développée avec la puissance du framework PHP Symfony, cette plateforme est votre nouvel allié pour organiser vos recettes et vos ingrédients avec une efficacité redoutable.

Avec Marmitton, vous pouvez facilement :

Créer, consulter et organiser toutes vos recettes préférées.
Gérer un inventaire précis de vos ingrédients, en sachant toujours ce que vous avez sous la main.
Naviguer fluidement à travers vos listes grâce à une pagination claire et esthétique.
Bénéficier d'un espace personnel sécurisé avec gestion de profil utilisateur et fonctionnalités d'authentification complètes (connexion, déconnexion, édition de profil et changement de mot de passe).
L'interface utilisateur, à la fois moderne et entièrement responsive, est conçue avec Bootstrap, garantissant une expérience agréable sur tous vos appareils.

Marmitton est le projet idéal pour tous les passionnés de cuisine qui cherchent à combiner plaisir des papilles et organisation numérique !</p>
    <img src=" {{asset('img/téléchargement.png')}} " alt="">
</div>
{% endblock %}